.fotorama__wrap {
    margin: 0 auto;
}

body {
    margin: 5%;
}

#swipeLeft {
    float: left;
    margin-left: 20%;
    margin-top: 16%;
}

#swipeRight {
    float: right;
    margin-right: 20%;
    margin-top: 16%;
}

h1 {
    font-weight: bold;
    width: 500px;
    text-align: left;
    margin: auto;
    padding-top: 10px;
}

p {
    width: 500px;
    margin: auto;
}

.italic {
    font-style: italic;
}

.indent {
    text-indent: 50px;
}